# Variáveis de ambiente
.env

# Cache do Python
__pycache__/
*.pyc
*.pyo

# Dados locais
data/
*.db

# Credenciais
credentials/

# Virtual environment
.venv/
venv/

# Build / dist
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store